@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h2 class="display-4">Welcome to the vehicle manager app</h2>
     @*<div >
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/WebPages/CaptureContractor">Capture Contractor</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/WebPages/VechileDetails">Vehicle Inspect</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/WebPages/VechileAlter">Manage Vehicle Details</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/WebPages/SummaryPage">Vehicle Summary</a>
                        </li>
                    </ul>
                </div>*@
    <p>Please use the navigation above to go to a page</p>
</div>
