@page
<h1>Vehicle Details</h1>
<p>Alter the details here</p>
<select name="contractors">
    <option value="">Select a contractor</option>    
</select>

@model VechileWebApp.Pages.WebPages.VechileAlterModel
@{
}
